header {
    background-color: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

button {
    background-color: #ffffff;
    /* color: #fff; */
    padding: 12px 24px;
    margin: 0 10px;
    border: solid 2px #000;
    font-size: 1rem;
    cursor: pointer;
}

.dark-btn {
    background-color: #222;
    color: white;
}